<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151389745993-dp98sq57mrkjiltmi6aah0cuh39p93vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151389745993-dp98sq57mrkjiltmi6aah0cuh39p93vo</string>
	<key>API_KEY</key>
	<string>AIzaSyBREWENqcA6RsD0k9GLYe4NEhxuzkwVCbY</string>
	<key>GCM_SENDER_ID</key>
	<string>151389745993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-ed08e</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-ed08e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151389745993:ios:b5be91b525a2e7d4316098</string>
</dict>
</plist>